*{
    box-sizing: border-box;
}
*:focus{
    outline: 2px dotted #2959CE;
    outline-offset: 2px;
}

html{
    width: 100%;
}
body{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #4a4b4c;
    line-height: 22px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

/* HEADER */

.site-header {
}
.site-header-top {
    background: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.site-header-top-container {
    display: flex;
    align-items: center
}
.container {
}
.site-logo {
    background: #fff;
    display: flex;
    border-radius: 7px;
    padding: 6px 8px;
    margin-right: 35px;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.6;
}

/* CURRENCY */
.currency {
    margin-right: auto;
}
.currency-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.currency-item:not(:last-child){
    margin-right: 25px;
}
.currency-item-type {
    color: #2959CE;
}
.currency-item-value {
}

/* GLOBAL SEARCH */
.global-search{
    margin-right: 25px; 
    background-color: #fff;
    border-radius: 60px;
}
.global-search-input{
    border: none;
    background: url(../img/Mask.svg);
    background-repeat: no-repeat;
    padding: 13px 20px 13px 40px;   
    background-position: 15px 13px;
}


/* LANG TOGGLE */

.language-toggle {
    display: flex;
    border-radius: 39px;
    background-color: #DCE6FF;
    margin-right: 25px;
    padding: 3px;
    width: 70px;
    height: 36px;
}
.language-toggle-item {
    text-decoration: none;
    font-size: 13px;
    color: #000;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 8px;
}
.language-toggle-item-active {
    text-decoration: none;
    color: #a6a6a6;
    line-height: 30px;
}
.button {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 10px;
}
.button-primary {
    background: #7296EC;
    padding: 13px 20px;
}
.button-primary:hover{
    opacity: 0.8;
}
.button-primary:active{
    opacity: 0.6;
}
/* SITENAV */

.sitenav {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;60
}
.sitenav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}
.sitenav-item{
    margin-top: 5px ;
    margin-bottom: 5px;
}
.sitenav-item:not(:last-child){
    margin-right: 34px;
}
.sitenav-link {
    text-decoration: none;
    color: #7F7F7F;
    font-weight: 500;
    font-size: 18px;
}
.aside{
    margin-top: 20px;
}

.sitenav-link:hover{
    opacity: 0.8;
    color: #2959CE;
}
.sitenav-link:active{
    opacity: 0.6;
}
.site-banner {
}
.site-banner-link {
    display: flex;
}
.site-banner-img{
    display: block;
    border-radius: 8px;
    width: 100%;
}
.site-banner-img:hover {
    opacity: 0.8;
}
.site-banner-img:active{
    opacity: 0.6;
}
