*{
    box-sizing: border-box;
}
/* *:focus{
    outline: invert;
    outline-offset: initial;
} */


body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #4A4B4C;
}
.container{
    max-width: 100px;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}
