*{
    box-sizing: border-box;
}

html{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #4a4b4c;
    line-height: 22px;
    font-family: 'Rubik', sans-serif;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

